{% extends 'base.html' %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static',filename='css/detail.css') }}">
{% endblock %}

{% block title %}详情{% endblock %}

{% block main %}
    <h3 class="h3">个人中心</h3>
    <!--<h4>上传头像</h4>-->
    <!--<input id="input-1a" type="file" class="file" data-show-preview="false">-->
        <span>我的文章:</span>
 {% for usertext in questions %}
    <p class="question-info">

        <p class="question-title"> <a href="{{ url_for('detail',question_id=usertext.id) }}">{{ usertext.title }} </a></p>
        <span>{{ usertext.comtext }}</span>

    </p>
    <hr>
    <p class="question-content"></p>
    <hr>

 {% endfor %}
{% endblock %}