{% extends 'base.html' %}
{%block title %}index{% endblock %}
{%block head %}
<link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
{% endblock %}
{%block main %}
    <ul class="question-ul">
        {% for question in questions %}
                        <div class="side-question">
            <img class="side-question-avatar" src="{{url_for('static',filename='images/favicon.ico')}}" alt="">
                </div>
        <li>



            <div class="question-main">
                <p class="question-title"> {{ question.title }} </p>
                <p class="question-context"> {{ question.content }}</p>
                <p class="question-detail">
                        <span class="question-author">zorelu</span>
                        <span class="question-time">{{ question.create_time }}</span>
                    </p>
            </div>
        </li>
          {% endfor %}
    </ul>
{% endblock %}